<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_test/frame_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{202,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{404,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{606,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{808,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{1010,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{1212,0},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_test/frame_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,300}</string>
                <key>spriteSourceSize</key>
                <string>{202,300}</string>
                <key>textureRect</key>
                <string>{{202,300},{202,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,640}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{404,300},{1136,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,75}</string>
                <key>spriteSourceSize</key>
                <string>{1000,75}</string>
                <key>textureRect</key>
                <string>{{0,940},{1000,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_art.png</string>
            <key>size</key>
            <string>{1540,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04a57756121939a9e113e318ab473f76:630932281be7a473e4771d60d5cd08ed:e7633d1c163e7b503e4ca82581432470$</string>
            <key>textureFileName</key>
            <string>game_art.png</string>
        </dict>
    </dict>
</plist>
